
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.auth/user.json

/src/tests/api/testData/createUser.json
/src/tests/api/testData/randomUser.json

.env