
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.auth/user.json

/src/tests/testData/createUser.json
/src/tests/testData/randomUser.json
/src/tests/checkly.spec.ts

.env